<div>
<div ng-include="'app/layout/navbar.html'"></div>
    <div class="jumbotron">
  <h1 class="headbanner1">WELCOME TO MANUEL DUB</h1>
        <h1 class="headbanner2">FESTIVAL VOLUNTEERS</h1>
  <span>
      <p>Manuel Dub is a strictly not-for-profit event dedicated to the memory of Manuel. On the one hand, this has enabled us to</p>
      <p>host some of dub music's finest artists who after feeling moved by the energy, dedication and love that goes into the event</p>
      <p>agree to perform for a reduced fee or even free of charge. On the other hand it means that we are in constant need</p>
      <p>of volunteers to make it happen and keep it going.</p>
      </span>
        
     
    <div ng-include="'app/layout/imageslider.html'">
    </div>
        
        </div> 
     
    <div data-ng-view>
    </div>
     <div ng-include="'app/layout/embedvideo.html'"></div>
    <div ng-include="'app/layout/footer.html'"></div>
</div>
 
